/* lobster-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lobster-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/rubik-v31-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/rubik-v31-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/rubik-v31-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/rubik-v31-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*  project coffee */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1317px;
  margin: auto;
}

/* header hero */

.header-b {
  height: 100%;
  background-image: url("../img/img-eng-katta-coffee.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.div-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-a {
  a:hover {
    font-size: 15px;
    color: rgb(182, 120, 5);
    background-color: rgb(10, 31, 71);
    border-radius: 60px;
  }
  a {
    padding: 33px;
    text-decoration: none;

    color: aliceblue;
  }
}
.div-nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  h1 {
    line-height: 100%;
    font-size: 100px;
    font-family: "Lobster";
    color: aliceblue;
    font-weight: 400;
  }
}

/* main */

.container.main-v {
  display: flex;
  padding-top: 82px;
  padding-bottom: 100px;
}
.img-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 135px;
  padding-top: 82px;
  padding-bottom: 82px;
  background-color: #fff4d8;
  flex-grow: 1;
  flex-wrap: wrap;

  p {
    width: 554px;
    color: #555555;
    padding-bottom: 33px;
  }
  h2 {
    font-family: "Lobster";
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
  }
}

button {
  padding: 20px 30px;
  color: aliceblue;
  background-color: #f39c11;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.33px;
}

/* section 1 */

.section2 {
  background-color: #3d210c;
}
.container-ber.container h4 {
  color: antiquewhite;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.33px;
  font-family: "Lobster";
  padding-bottom: 30px;
  padding-top: 52px;
}
.berf {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  gap: 69px;
  padding-bottom: 41px;
}
.berf h3 {
  padding-top: 34px;
  padding-bottom: 31px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.33px;
  color: #fff4d8;
}
.berf span {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.33px;
  font-weight: 400;
  color: #fff4d8;
  align-self: center;
}

/*  section 3 */

.section3 {
  background-color: #fff4d8;
  padding-bottom: 76px;
}
.bro {
  display: flex;
  align-items: center;
  gap: 37px;
  h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.33px;
    font-family: "Rubik", sans-serif;
  }
}
.main-46 {
  padding-bottom: 21px;
  text-align: end;
}
.main-3 {
  h5 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    font-family: "Lobster";
    color: #0d1015;
    padding-top: 59px;
    padding-bottom: 29px;
  }
}

.main-3 {
  text-align: center;
}
.main-4 {
  text-align: end;
}
.verbe {
  width: 398;
  height: 273;
}
.main-coffe {
  border-radius: 20px;
  width: 444px;

  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: aliceblue;

  h3 {
    padding-top: 21px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.33px;
    color: #555555;
    padding-bottom: 20px;
  }
}
.tu {
  color: #555555;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.33px;
}
.verygood {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;

  gap: 9px;
}

.microb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h6 {
    color: #0d1015;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.33px;
  }
}

.micro2 {
  border: 1px solid #f39c11;
  border-radius: 10px;
  padding: 13px 18px;
  display: flex;
  align-items: center;
  gap: 13px;
  span {
    color: #f39c11;
  }
}

/* Media  */

@media (max-width: 900px) {
  .header-b h1 {
    padding-right: 20px;
    font-size: 80px;
    text-align: center;
  }
  .imgr {
    display: none;
  }

  .imgc {
    padding-right: 15px;
  }
}
@media (max-width: 900px) {
  .img-main3 {
    width: 487px;
    height: 437px;
  }
  .img-main container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-main-text a {
    width: 518px;
    height: 137;
  }
}

@media (max-width: 450px) {
  .header-b {
    background-image: url("../img/\ coffee-phone-version.png");
  }
  .img-a {
    display: none;
  }
  .img-logo1 {
    width: 113px;
    height: 44px;
  }
  .img-contact {
    display: flex;
  }
  .header-b h1 {
    font-size: 50px;
    text-align: center;
  }
  .img-contact {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-right: 30px;
  }
}
